
.img {
position: relative;   
 left: 450px;
 top: 150px;
}
 .form {
position: relative;   
 left: 550px;
 top: 200px;
 width: 500px;
}
nav{
    position: absolute;
    top: 0px;
    right: 40px;
}
li {
  display: inline;
  padding: 5px;
}


  